@import url('http://db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');


*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  max-height: 100vh;
}
#loggedInWrapper, #loggedOutWrapper {
  display: none;
}

#loggedOutWrapper {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url('./img/mobile-bg1.svg');
  border: 9px white solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  /* align-items: center; */
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: "Tw Cen MT";
  font-size: 96px;
  color: #094067;
}
h3 {
  font-family: 'Karma', serif;
  font-size: 18px;
  color: #ffffff;
}


#loggedInWrapper {
  background-color: bisque;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

#registerForm {
  background-color: #094067;
  border-radius: 11px 11px 0 0;
  height: 40vh;
  padding: 20px;
}
#registerForm > *{
  /* padding: 20px; */
  /* margin: 2rem; */
}

p {
  font-family: 'IBM Plex Sans', sans-serif
}
#registerForm > input {
  height: 48px;
  border-radius: 11px;
  width: 100%;
}