@import url('https://db.onlinewebfonts.com/c/9b62dc86f936227b3f7b367bd0b6c05e?family=Tw+Cen+MT');
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

html, body {
  font-size: 40px;      
  margin:0; /* remove default margin */
  padding:0; /* remove default padding */
  width:100%; /* take full browser width */
  height:100%; /* take full browser height*/
  color: #25496C;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: "Tw Cen MT";
  font-weight: 500;
  font-size: 22px;
}

*,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 1.1rem;
}

#loggedInWrapper, #loggedOutWrapper {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('./img/mobile-bg1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Tw Cen MT";
  font-size: 96px;
}
h3 {
  font-family: 'Karma', serif;
  font-size: 18px;
  color: #ffffff;
}

#registerForm {
  background-color: #094067;
  border-radius: 11px 11px 0 0;
  /* padding: 20px; */
  font-family: 'IBM Plex Sans', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#registerForm > h2{
  font-size: .52rem;
  font-weight: bold;
  letter-spacing: .2rem;
  font-size: 24px;
}

#registerForm > *{
  /* background-color: violet; */
  margin: 10px;
}


#registerForm > input {
  height: 48px;
  border-radius: 11px;
  width: 80%; 
  /* margin-left: 10%; */
  /* margin-right: 10%; */ 
  border:0px solid #cccccc;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
} 
#registerForm > input[type='text'], #registerForm > input[type='password']{
  padding: 20px;
  font-size: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  /* color: #cccccc; */
}

#registerForm > input[type='text']:focus, #registerForm > input[type='password']:focus {
  
  outline: none;
}

#registerForm > input[type='submit'] {
  font-size: 48px;
  font-weight: bold;
  color: #094067;
  height: 80px;
  width: 60%;
  cursor: pointer;
}


/* Logged in user */

#loggedInWrapper {
  background-image: url('./img/mobile-bg2.svg');
  justify-content: flex-start;
}

.title {
  display: none;
}

.menu-cover{
  background-color:rgba(222, 222, 222, .75) ;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.menu-buttons {
  transition: all 1s ease;
  z-index: 3;
  position: absolute ;
  width: 100%;
  height: 20%;
  top: -20%;
  /* right: 10%; */
  background-color: rgb(255, 255, 255,0.95);
  padding: 2rem;
  border-radius: 5px;
}
.menu-buttons-show{
  top: 0%;
}

.menu-buttons-mobile{
  /* width: 80%; */
  /* position: relative; */
  /* top: 20px; */
  left: auto;
  right: auto;
  /* z-index: 1000; */
  width: 100%;
  height: 100%;
  /* border:10px blue solid */
}

#loggedInWrapper > nav {
  display: flex;
  justify-content: flex-end;
}

#loggedInWrapper > section {
  /* background-color: tan; */
  /* height: 500px; */
  padding-bottom: 4rem;
}
/* #loggedInWrapper > nav >  */
.menu-dots {
  display: flex;
  padding: .4rem;
}
#loggedInWrapper > nav > .menu-dots > span {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  width: .2rem;
  height: .2rem;
  margin-left: .1rem;
}

.settings-btn-wrapper, .logout-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-btn-wrapper > button, .logout-btn-wrapper > button {
  padding: .6rem;
  color:  #094067;
  font-weight: bold;
  font-family: "Tw Cen MT";
} 

.bills-list {
padding: 0 0.7rem;
 display: flex; 
 flex-direction: column;
}


.shadow {
  -webkit-filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0, .25));
  filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0, .25));
}

.your-bills {
  background-color: white;
  padding: .5rem;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 1.2rem;
  color: #4B739A;
}
.bill-wrapper {
  background-image: url('./img/bill-card.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  padding: 1rem;
  padding-left: 2rem;
  display:flex;
  flex-direction: column;
}
.bill-wrapper:hover, .new-bill-wrapper:hover{
  cursor: pointer;
}

.bill-wrapper-active {
  border: 4px dotted blue;
}
.bill-balance {
  /* background-color: steelblue; */
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.bill-balance-title {
  color: #FFC7C7;
  display: flex;
  justify-items: center;
  align-items: center;
}
.bill-balance-dot{
  display: block;
  background-color: #FFC7C7;
  border-radius: 50%;
  width: .2rem;
  height: .2rem;
  margin-right: 0.1rem;

}
.bill-balance-amount {
  color:white;
  font-weight: 500;
  font-size: 40px;
}
.new-bill-wrapper{
  background-image: url('./img/green-card.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  padding: 1rem;
  padding-left: 2rem;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.new-bill-wrapper h2{
  margin-left: .2rem;
}


.add-new-bill-btn{
  background-image: url('./img/add-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 1.25rem;
  height: 1.25rem;
}
.bill-details-display {
  font-size: 1.2rem;
  margin: 0.4rem;
}
.bill-move-details {
  background-color:white;
  display: flex;
  justify-content: space-between;
  padding: .41rem;
  border-bottom: 1px solid rgb(170, 170, 170);
}
.bill-move-details > div {
  flex-basis: 25%;
}
.bill-move-details >.bill-move-description-delete-btn {
  flex-basis: 0;
}
.bill-move-description {
  margin-bottom: 4rem;
}
.add-new-move-btn {
  background-color: #b9bbff;
  padding: 1rem;
  border-radius: 5px;
  z-index: 2;
}
.add-new-move-btn:focus,
.add-new-move-btn:hover {
  transform: scale(102%);
  background-color: #ffffff;
}

.bill-newmovebtn-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative
};

.new-move-form {
  background-color: #094067;
  outline: #b9bbff 3px;
}
.bill-wrapper {
  /* background-image: url('./img/bill-card.svg'); */
  /* background-repeat: no-repeat; */
  /* background-size:auto 100% ; */
  /* background-color: turquoise; */
}
.hidden-bill-move-description {
  display:none
}
.bill-move-description-amount {
  /* background-color: rgb(27, 150, 103); */
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
}
.new-move-wrapper {
  background-color: #EA92B7;
  position: fixed;
  width: 100%;
  height: 100%;
  /* margin: 1rem; */
  right: -100%;
  /* display: none; */
  /* right: 0%; */
  transition: all .4s ease-in-out;
}
.show-new-move-wrapper {
  /* display: block; */
  /* right: 0; */
}
.new-move-form {
  position: relative;
  z-index: 1;
  left: -100%;
  transition: 1s left ease;
}
.hidden-add-move-form{
  background-color: #FFC7C7;
  left: 0%
}
#new-move-form {
  background-color: white;
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#new-move-form > * {
  margin-bottom: 1rem;
}
#bottom-balance {display: none;}
.balance {
  
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* bottom: -10px; */
  color: white;
  background-color: #094067;
  border-radius: 11px 11px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  font-family: 'IBM Plex Sans', sans-serif;
}
.balance h3 {
  color: white;
  background-color: #EA92B7;
  /* margin: .31rem; */
  padding: .55rem;
  border-radius: 5px;
  position: absolute;
  top: -1.52rem;
  font-family: 'IBM Plex Sans', sans-serif;
}
.balance h2 {
  /* background-color: teal; */
  padding-top: .55rem;
}

/* Bigger screen adjustments */
@media only screen and (min-width: 600px) {
  html, body {
    font-size: 12px;
  }
    #loggedOutWrapper {
    background-image: url('./img/desktop-bg1.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  #registerForm {
    border-radius: 11px;
  } 

  #loggedOutWrapper > header{
    margin-top: 5%;
  }
  #loggedOutWrapper > .formDiv {
    margin-bottom: 15%;
    margin-left: 25%;
    margin-right: 25%;
  }

  #loggedInWrapper {
    background-image: url('./img/desktop-bg2.svg');
    /* justify-content: flex-start; */
    /* background-position: top; */
  }
  #loggedInWrapper h1 {
    font-size: 5rem;
  }

  #loggedInWrapper > nav {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
  }

  .title { 
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.3rem;
  }
  
  .menu-buttons {
    display: flex;
    justify-content: flex-end;
    transition: all 1s ease;
    z-index: 0;
    position: static;
    width: 100%;
    height: 100%;
    top: 0%;
    /* right: 10%; */
    background-color: rgb(255, 255, 255,0.0);
    padding: 2rem;
    border-radius: 5px;
  }

  section {
    background-color: white;
  }
  
  .logout-btn-wrapper {
    margin-left: 3rem;
  }
  .logout-btn-wrapper, .settings-btn-wrapper {
    border-bottom: 3px solid rgba(255, 255, 255,0);
    border-top: 3px solid rgba(255, 255, 255,0);
  }
  .logout-btn-wrapper:hover, .settings-btn-wrapper:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-top: 3px solid rgba(255, 255, 255,0);
  }
  .settings-btn-wrapper > button, .logout-btn-wrapper > button {
    font-size: 1.6rem;
  }
  #loggedInWrapper > nav > .menu-dots{
    display: none;
  }

  section {
    background-color:white;
    padding: 0;
    margin: 3% 10% 110% 10%;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: ; */
    /* min-height: 70%; */
    /* height: 70%; */
    border-radius: 5px;
    align-items: stretch;
  }
section > .bills-list {
  flex-basis: 1;
  flex-grow: 1;
  /* background-color: rgb(184, 42, 42); */
}
  section > .bill-details-display {
    margin: 2rem 2rem 2rem 0;
    
    /* background-color: burlywood; */
    /* width: 40%; */
    flex-basis: 2;
    flex-grow: 3;
    font-size: 1.8rem;
  }

  .bill-move-header {
    background-color:white;
    padding: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 3rem;
    border-radius: 5px;
  }

  .web-shadow {
    -webkit-filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0, .25));
    filter: drop-shadow( 0px 4px 4px rgba(0, 0, 0, .25));
  }

  .bills-list{
    margin: 2rem;
  }
  .bill-wrapper {
    transition: .15s all ease;
  }
  .bill-wrapper:hover, .new-bill-wrapper:hover {
    transform: perspective(700px) translate3d(10px, 0, 24px);
  }


  

  .balance {
    position: fixed;
    bottom: 0px;
    width: 100%;

    right: 20%;
    width: 20%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .balance h3 {
    color: white;
    background-color: #EA92B7;
    /* margin: .31rem; */
    padding: 1.0rem;
    border-radius: 5px;
    position: absolute;
    top: -2.52rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;

  }
  .balance h2 {
    font-size: 2.6rem;
  }


  footer {
    /* background-color: wheat; */
    /* position: absolute; */
    /* bottom: 0; */
  }
}